<p>
  <strong> Usuario: </strong>
  <%= comment.commenter %>
</p>

<p>
  <strong> Cometario: </strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Destroy comment', [comment.article, comment],
                                 method: :delete,
                                 data: { confirm: '¿Estás seguro?' } %>
</p>
