<div class="text-centred">
  <h1> Artículo creado </h1>
</div>

<div class="box-centred">
  <p>
    <strong> Titulo: </strong>
    <%= @article.title %>
  </p>

  <p>
    <strong> Texto: </strong>
    <%= @article.text %>
  </p>
</div>
